@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background-color: black;
  background-image: url('../assets/fundo_estrelas.png');
  background-position: center;
}


.left-section {
  margin-bottom: 20px;
}

.menu_hamburgui {
  margin-left: 24px;
  margin-top: 24px;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Centraliza verticalmente */
  height: 90vh;
  /* Faz a div ocupar a altura total da tela */
  gap: 10px;
}

.menu_link_title {
  color: #FFFFFF;
  font-family: 'Inter';
  font-weight: 100;
  font-size: 22px;
  margin-left: 1rem;
}

.menu_link a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* Isso empurra o + para a direita */
  padding: 12px 16px;
  color: #FFFFFF;
  gap: 15px;
  /* espaço entre os ícones e o texto */
  width: 92%;
  text-decoration: none;
}

.plus_information {
  padding-right: 25px;
}

.menu_link_icon_title {
  display: flex;
  padding-left: 15px;
  align-items: center;

}

.icon {
  height: 50px;
}

.ver_detalhes {
  display: none;
}

.arrow_detalhes {
  display: none;
}

.media_query_text {
  display: none;
}

@media (min-width: 1024px) {
  body {
    background-image: url('../assets/fundo_meu.svg');
    background-size: cover;
    background-position: center;
  }

  .menu_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .text {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: 70%;
    margin-left: 20px;

    h1 {
      color: #FFFFFF;
      font-family: 'Inter';
      font-weight: 100;
      font-size: 50px;
      padding-bottom: 20px;
      padding-top: 50px;
    }

    strong {
      font-weight: 300px;
    }

    span {
      color: #FFFFFF;
      font-family: 'Inter';
      font-weight: 100;
      font-size: 20px;
      line-height: 30px;
    }
  }

  .media_query_text {
    display: flex;
  }


  .plus_information {
    display: none;
  }

  .arrow_detalhes {
    display: flex;
    padding-right: 25px;
  }

  .ver_detalhes {
    display: flex;
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 100;
  }

  .detalhes_media_query {
    display: flex;
    align-items: center;

    .arrow_detalhes {
      padding-left: 20px;
    }
  }

  .menu{
    height: 100%;
    width: 100%;
  }
}