@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

.menu_hamburgui {
    height: 21px;
    margin-left: 24px;
    margin-top: 24px;
    position: relative;
    z-index: 1;
}

body {
    height: 100vh;
    background-color: #000000;
    background-image: url("../assets/fundo_estrelas.png");
    background-size: cover;
    /* Faz com que a imagem cubra a tela sem distorcer */
    background-repeat: no-repeat;
    /* Evita repetição da imagem */
    background-position: center;
    /* Centraliza a imagem */
    position: relative;
    z-index: 1;
    /* apenas por segurança */

}

body::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), transparent);
    z-index: 0;
    pointer-events: none;
}

.universo_observavel_img {
    width: 100vw;
    object-fit: cover;
    display: block;
}

.main {
    position: relative;
    z-index: 1;
    /* Faz o conteúdo ficar acima da camada escura */

    .title h1 {
        color: #FFFFFF;
        font-family: 'Inter';
        font-weight: 100;
        font-size: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .main_conteudo span {
        color: #FFFFFF;
        font-family: 'Inter';
        font-weight: 100;
        font-size: 15px;
        display: flex;
        text-align: justify;
        line-height: 2.0;
        margin-left: 30px;
        margin-right: 30px;
    }

}

.subtitle h1 {
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 100;
    font-size: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.universoobservavel {
    display: none;
}

.info_media_query {
    display: none;
}


@media (min-width: 1024px) {

    .universo_observavel_img {
        display: none;
    }

    .imagem_media_query {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .universoobservavel {
        display: block;

    }
}

.main {

    .title h1 {
        font-size: 90px;
    }

    .main_conteudo {
        span {
            font-size: 30px;
            padding-left: 70px;
            padding-right: 70px;
        }
    }

    .subtitle {
        h1 {
            font-size: 50px;
            padding-top: 100px;
            padding-bottom: 50px;
            margin: 0px;
        }
    }

    .info_media_query {
        display: flex;
        padding-top: 50px;
        flex-direction: column;

        h6 {
            display: flex;
            color: #D0CFD0;
            font-family: 'Inter';
            font-weight: 100;
            font-size: 20px;
            line-height: 25px;
            padding-left: 70px;
            padding-right: 70px;
            padding-bottom: 20px;
            text-align: center;
        }
    }
}